<div class="footer-nav">
  <div class="nav-item" [routerLink]="'/'" [class.active]="currentRoute === '/'">
    <span class="icon">🏠</span>
    <p>Startseite</p>
  </div>
  <div class="nav-item" [routerLink]="'/dashboard'" [class.active]="currentRoute === '/dashboard'">
    <span class="icon">📊</span>
    <p>Dashboard</p>
  </div>
  <div class="nav-item" [routerLink]="'/settings'" [class.active]="currentRoute === '/settings'">
    <span class="icon">⚙️</span>
    <p>Einstellungen</p>
  </div>
</div>
