
.footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: white;
  border-top: 2px solid #F5F5DC;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.nav-item .icon {
  display: block;
  font-size: 22px;
  margin-bottom: 5px;
}

.nav-item:not(:last-child) {
  border-right: 2px solid #F5F5DC;
}


.nav-item:hover {
  background-color: white;
  cursor: pointer;
}


.nav-item.active {
  background-color: #F5F5DC;
  color: grey;
}
