<header>
    <h1>Sensor Dashboard</h1>
    <p>Live-Daten nach Sensorfeldern gruppiert</p>
    <button (click)="toggleDarkMode()">🌙 Dark Mode</button>
    <button (click)="logout()">Logout</button>
    <button (click)="navigateToAddSensor()">➕ Add Sensor</button> 

    <button class="settings-btn" (click)="showDsPanel = !showDsPanel">⚙️</button>

    <div class="ds-panel" [class.visible]="showDsPanel">
      <h4>
        Downsampling
        <span
          class="info-icon"
          matTooltip="Kurzinfo: weniger Punkte → bessere Performance"
          matTooltipShowDelay="300"
          matTooltipPosition="above"
          (click)="openDownsampleInfo()">
          ℹ️
        </span>
      </h4>



      <label class="switch">
        <input type="checkbox" [(ngModel)]="downsampleEnabled">
        <span class="slider round"></span>
      </label>
      <span>{{ downsampleEnabled ? 'Aktiv' : 'Aus' }}</span>


      <input type="range"
             min="5" max="500" step="5"
             [(ngModel)]="maxPoints"
             [disabled]="!downsampleEnabled">
      <div class="value">{{ maxPoints }} Punkte</div>

      <button (click)="applyDownsampleSettings()">✔ Übernehmen</button>
    </div>
</header>


<div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Suche nach Sensoren oder Sensorgruppen" />
    <button>🔍</button>
</div>


<div class="field-list">
    <div *ngFor="let fieldName of filterFields()" class="field-card" (click)="toggleFieldGroup(fieldName)">
        <div class="field-icon">🌿</div>
        <p>{{ fieldName }}</p>
    </div>
</div>

<main id="main-dashboard">
    <p *ngIf="!sensors || Object.keys(sensors).length === 0">Keine Sensoren gefunden.</p>

    <div *ngFor="let fieldName of Object.keys(sensorGroups)" class="field-group">
        <h2 (click)="toggleFieldGroup(fieldName)" class="field-title">
            {{ fieldName }}
            <button (click)="navigateToFieldPage(fieldName)">📍</button>
        </h2>

        <div *ngIf="expandedFields[fieldName]" class="sensor-container">
            <div *ngFor="let sensor of sensorGroups[fieldName]" class="sensor-item">
                <h3>{{ sensor.valueName }} ({{ sensor.sensorId }})</h3>
                <div class="sensor-controls">
                    <div [id]="'status-indicator-' + sensor.ident" class="status-indicator"></div>
                    <button (click)="updateSensorData(sensor.sensorId, sensor.valueName, sensor.ident, -1, 0)">Last Hour</button>
                    <button (click)="enableLiveData(sensor.ident)">Live</button>
                    <button (click)="promptCustomRange(sensor.sensorId, sensor.valueName, sensor.ident)">Custom Range</button>
                </div>
                <canvas [id]="'chart-' + sensor.ident"></canvas>
            </div>
        </div>
    </div>
</main>
